.phanloai-anh{
    display: block;
    background: #F2E9E2;
    height: 50px;
    margin-top: 10px; 
}
.phanloai-anh a{
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    margin-top: 10px;
}

.hien-thi-anh{
    background: #4F4F48;
    border-radius: 20px;
    width: 98%;
    height: auto;
}
.anh{
    display: block;
  max-width:300px;
  max-height:400px;
  width: auto;
  height: auto;
border-radius: 20px;
margin-top: auto;
margin-left: 20px;

    
}
.left{
    margin-left: 20px;
    width: 32%;
    border-right: 1px solid white;
    border-radius: 20px;
}
.right{
    float: right;
    height:220px; 
    width:450px;
    margin-top: -20%;
    border-radius: 20px;
    margin-right: 22%;
    
   
}
.right{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #CDCDA7;
    border-left: 1px solid white;
    
}
.right h2{
    font-size: 30px;
    margin-top: 0px;
    margin-left: 40px;
}
.right h3{
    margin-left: 40px;
}

.button ul{
    list-style-type: none;
}
.button ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #CDCDA7;
}
.button ul li{
    display: inline-block;
    border: 2px solid white;
    font-size: 40px;
    color: white;
    padding: 10px;
    width: 35%;
    border-radius: 20px;
}
.button{
    margin-top: 12%;
}
.button ul li:hover{
    background: #86866F;
    color: white;
}
