
.hienthi-binhluan-moinguoi{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background: #ECCAAE;
    border-radius: 20px;
}

.binhluan-trai img{
    border-radius: 35px;
    margin-top: 20px;
}
.binhluan-phai{
    margin-left: 20px;
    width: 75%;
    
}
.binhluan-phai1{
    display: flex;
    flex-direction: row;
}
.binhluan-phai1 h5{
    margin-top: 20px;
    margin-left: 10px;
    color: gray;
}
.binhluan-phai h4{
    margin-top: 0px;
}
.danhsach-tatca-comment{
    background: #F4EBE4;
    width: 95%; 
}

.xuly-trangthai-comment a{
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    display: block;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin-top: 5px;
    
}
.xuly-trangthai-comment a:hover{
    background: #D8AA84;
}