
body{
    background-image: url('environment.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
}
  #coin{
      position: absolute;
      left: 50%;
      margin-left: 20%;
  }
 
  .tong{
      margin-left: 50%;
  }

  table{
      background: #C6C7B6;
      border-radius: 20px;
      width:590px;
     
  }

 