.giao-dien-gallery-anh img{
    width: 100%;
    height: 100%;
}
.giao-dien-gallery-anh h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    position: absolute;
    top: 60%;
    right: 40%;
    color: white;
    display: block;
    border-bottom: 5px solid white;
}
.phanloai-anh{
    display: block;
    background: #F2E9E2;
    height: 50px;
    margin-top: 5px; 
}
.phanloai-anh a{
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    margin-top: 10px;
}